<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
   <link rel="stylesheet" href="/css/styles.css">
  <script defer src="registro.js"></script>
</head>
<body>
<nav class="navbar">
  <div class="navbar-container">
    <a href="index.html" class="navbar-logo">
      <img src="img/logo.jpg" alt="Logo" />
    </a>
    <div class="navbar-links">
      <a href="dashboard.html">Inicio</a>
      <a href="creacion.html">Crear Personaje</a>
      <a href="dados.html">Dados</a>
      <a href="login.html">Login</a>
      <a href="registro.html">Registro</a>
    </div>
  </div>
</nav>
<div style="height: 60px;"></div>

  <div class="container">
    <h1>Registro de Usuario</h1>
    <form id="register-form" class="form-grid">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" id="username" required>
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input type="email" id="email" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" required>
      </div>
      <div class="actions">
        <button type="submit" class="btn">Registrarse</button>
      </div>
    </form>
  </div>
</body>
</html>
